# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
/.idea/
/.vscode/
/bin/
nlp/build/cmake_install.cmake
nlp/build/CMakeCache.txt
nlp/build/Makefile
nlp/build/CMakeFiles/cmake.check_cache
nlp/build/CMakeFiles/CMakeDirectoryInformation.cmake
nlp/build/CMakeFiles/CMakeOutput.log
nlp/build/CMakeFiles/Makefile.cmake
nlp/build/CMakeFiles/Makefile2
nlp/build/CMakeFiles/progress.marks
nlp/build/CMakeFiles/TargetDirectories.txt
nlp/build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
nlp/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
nlp/build/CMakeFiles/3.16.3/CMakeSystem.cmake
nlp/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
nlp/build/CMakeFiles/nlp.dir/build.make
nlp/build/CMakeFiles/nlp.dir/C.includecache
nlp/build/CMakeFiles/nlp.dir/cmake_clean.cmake
nlp/build/CMakeFiles/nlp.dir/depend.internal
nlp/build/CMakeFiles/nlp.dir/depend.make
nlp/build/CMakeFiles/nlp.dir/DependInfo.cmake
nlp/build/CMakeFiles/nlp.dir/flags.make
nlp/build/CMakeFiles/nlp.dir/link.txt
nlp/build/CMakeFiles/nlp.dir/progress.make
nlp/build/CMakeFiles/test.dir/build.make
nlp/build/CMakeFiles/test.dir/C.includecache
nlp/build/CMakeFiles/test.dir/cmake_clean.cmake
nlp/build/CMakeFiles/test.dir/depend.internal
nlp/build/CMakeFiles/test.dir/depend.make
nlp/build/CMakeFiles/test.dir/DependInfo.cmake
nlp/build/CMakeFiles/test.dir/flags.make
nlp/build/CMakeFiles/test.dir/link.txt
nlp/build/CMakeFiles/test.dir/progress.make
